doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Search Results
    link(rel="stylesheet", href="styles.css")
    script(src='favorites.js')
  body
    div.container
      h1.city-name #{cityInfo.city.charAt(0).toUpperCase() + cityInfo.city.slice(1)}
      h2.country-name #{cityInfo.countryName}
      h3.region #{cityInfo.region}
      h6.subregion #{cityInfo.subregion}
      p.timezone #{cityInfo.timezone}
      p.cityTime #{time}
      p #{date}

      button.btn(type="button", onclick=`addToFavorites('${cityInfo.cityName}', '${cityInfo.countryName}', '${cityInfo.timezone}')`) Add to Favorites

      p Capitals with the the same timezone
      ul
        each randomCity in randomGeonames
          li.list #{randomCity.countryName}, #{randomCity.cityName}, #{randomCity.timezone} 
      script.
        const socket = new WebSocket('ws://localhost:8080'); // creating a new WebSocket

        socket.onmessage = function(event) {
          document.querySelector('.cityTime').textContent = event.data; // updating the time
        };